/*********************************************************************************/
/* Simple Fluent Web CSS                                                         */
/*********************************************************************************/


/*********************************************************************************/
/* Buttons                                                                       */
/*********************************************************************************/

.btn {
    margin-top: 8px!important;
    margin-bottom: 8px!important;
    background: #dcdcdc!important;
    padding: 5px!important;
    border-radius: 0!important;
    box-shadow: rgba(0, 0, 0, 0.24) -1px 8px 23px!important;
} 

.btn-info.active.focus, .btn-info.active:focus, 
.btn-info.active:hover, .btn-info:active.focus, 
.btn-info:active:focus, .btn-info:active:hover, 
.open>.dropdown-toggle.btn-info.focus, 
.open>.dropdown-toggle.btn-info:focus, 
.open>.dropdown-toggle.btn-info:hover {
    border:none!important;
    color: #000!important;
}
 

/*********************************************************************************/
/* Banners                                                                       */
/*********************************************************************************/

#banner {
    padding: 0!important;
    margin-top: 40px!important;
    margin-left: 2px!important;
}


/*********************************************************************************/
/* Bootstrap Modals                                                              */
/*********************************************************************************/

.modal-content {
    box-shadow: 0 6px 23px 0 rgba(0,0,0,.26)!important;
    border-radius: 0!important;
}

.modal-header {
    background-image: url(/images/image5.png)!important;
    padding-bottom: 10px!important;
    padding-top: 10px!important;
    box-shadow: 0 6px 23px 0 rgba(0,0,0,.26)!important;
}

.modal-header .close {
    width: 50px!important;
    height: 43px!important;
    opacity: 100!important;
    margin-top: -10px!important;
    margin-right: -15px!important;
    margin-bottom: -10px!important;
}

.close:focus, .close:hover {
    background-color: #DE061A!important;
}

/*********************************************************************************/
/* Navigation Bars, Tabs, and Sidebars                                           */
/*********************************************************************************/

.navbar-default {
    background-color: transparent!important;
    border: none!important;
    border-radius: 0!important;
    margin-left: -15px!important;
    margin-top: -15px!important;
    padding-bottom: 80px!important;
    margin-bottom: -45px!important;
}

.sidebar-nav {
    box-shadow: 0 6px 23px 0 rgba(0,0,0,.26)!important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border-bottom: 3px solid #0078D7!important;
    padding-bottom: 6!important;
}

.nav-tabs {
    border: none!important;
    background-image: url(/images/image8.png)!important;
    box-shadow: 0 6px 23px 0 rgba(0,0,0,.26)!important;
}