* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.site-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #000;
  z-index: 99;
  box-shadow: 0 0 0.125em 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  max-height: 4em;
}
.site-header::after {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  display: block;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
}

.site-title, .site-menu {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 1em;
  font-weight: bold;
  clear: none;
  display: inline-block;
  vertical-align: bottom;
  width: intrinsic;
  z-index: 5;
}

.site-title {
  font-size: 1.3em;
}

.site-menu {
  left: auto;
  right: 1em;
  font-weight: normal;
}
.site-menu a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

.site-content {
  position: relative;
  z-index: 1;
}

.article-header {
  position: relative;
}

.article-title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 4.5em;
  line-height: 1;
  color: #fff;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
  text-align: center;
}

.article-content {
  padding: 1em;
  max-width: 30em;
  margin: 0 auto;
}
.article-content p {
  margin-bottom: 1em;
}
